@font-face {
  font-family: Digital;
  src: url(./font.ttf);
}

.game-prompt-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 700px;
  width: 700px;
}


.game-container {
  border: solid 15px #0C001E;
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #0C001E;
  border-radius: 40%;
  position: relative;
  box-shadow: 2px 2px 5px #666;
}




.red {
  border-top-left-radius: 80%;
  background-color: #D13045;
}

.red:active {
  background-color: #BA1A3C;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}

.green {
  border-top-right-radius: 80%;
  background-color: #51BC0F;
}

.green:active {
  background-color: #4CAF0E;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}

.blue {
  border-bottom-left-radius: 80%;
  background-color: #31AFEA;
}

.blue:active {
  background-color: #2DA2D8;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}

.yellow {
  border-bottom-right-radius: 80%;
  background-color: #EAD746;
}

.yellow:active {
  background-color: #DDCB42;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}